<div class="container">
  <div class="row">
    {{title}}
    <div class="card-panel hoverable">
      <ul class="collapsible popout" data-collapsible="accordion" watch>
        <li ng-repeat="category in categories">
          <div class="collapsible-header">
            <img src="{{category.logo}}" alt="{{category.name}}" class="circle" width="40">
            {{category.name}}
          </div>
          <div class="collapsible-body">
            <ul class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="subCategory in category.subCategories">
                <div class="collapsible-header">
                  <img src="{{subCategory.logo}}" alt="{{subCategory.name}}" class="circle" width="40">
                  {{subCategory.name}}
                </div>
                <div class="collapsible-body">
                  {{deals.name}}
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
