<main>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card-panel hoverable">
          <span class="card-title">
            <h4>{{title}}</h4>
          </span>
          <ul class="tabs" tabs>
            <li class="tab col s6">
              <a class="active" ng-init="current='categories'" href="#categories">Catégories</a>
            </li>
            <li class="tab col s6">
              <a href="#shops" ng-init="current='shops'">Magasins</a>
            </li>
          </ul>
          <div id="categories">
            <ul class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="category in categories">
                <div class="collapsible-header">
                  <img src="{{category.logo}}" alt="{{category.name}}" class="circle" width="40">
                  {{category.name}}
                </div>
                <div class="collapsible-body">
                  <div class="collection">
                    <a href ng-click="getDealsInSubCategory(subCategory._id)" class="collection-item" ng-repeat="subCategory in category.subCategories">
                      <span class="title">{{subCategory.name}}</span>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div id="shops">
            <ul class="collapsible popout" data-collapsible="accordion" watch>
              <li ng-repeat="brand in brands">
                <div class="collapsible-header">
                  <img src="{{brand.logo}}" alt="{{brand.name}}" class="circle" width="40">
                  {{brand.name}}
                </div>
                <div class="collapsible-body">
                  <div class="collection">
                    <a href ng-click="getDealsInShop(shop._id)" class="collection-item" ng-repeat="shop in brand.shops">
                      <span class="title"><img src="{{shop.logo}}" alt="{{shop.name}}" class="circle" width="40">{{shop.name}}</span>
                    </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s6 m4 l3" ng-repeat="deal in deals">
        <div class="card medium hoverable">
          <div class="card-image">
            <img src="{{deal.image}}" alt="{{deal.name}}">
          </div>
          <div class="card-content">
            <span class="card-title grey-text text-darken-4">{{deal.name}}
            </span>
            <p>
              {{deal.description}}
            </p>
          </div>
          <div class="card-action">
            <div class="row center">
              <a class="waves-effect waves-light btn activator green">
                <i class="material-icons">mode_edit</i>
              </a>
              <a ng-click="update(deal)" class="waves-effect waves-light btn blue">
                <i class="material-icons">system_update_alt</i>
              </a>
              <a ng-click="delete(deal)" class="waves-effect waves-light btn red">
                <i class="material-icons">delete</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
