<header>
  <nav class="navbar-fixed purple darken-4">
    <div class="nav-wrapper">
      <a href="#" class="button-collapse" data-activates="nav-mobile" data-sidenav="left" data-closeonclick="false">
        <i class="material-icons">menu</i>
      </a>
      <div class="row">
        <div class="col s7">
          <form>
            <div class="input-field">
              <i class="material-icons prefix">search</i>
              <input id="search" type="text"/>
            </div>
          </form>
        </div>
        <div class="col s5">
          <ul class="right">
            <li>
              <a href="#/" class="valign-wrapper">
                <img src="assets/avatars/iban.jpg" class="circle" width="50">
                <span class="user_name">
                  {{user}}
                </span>
              </a>
            </li>
            <li>
              <a ng-click="logout()">
                <i class="material-icons">settings_power</i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <ul id="nav-mobile" class="side-nav blue-grey darken-3 fixed">
    <li class="logo">
      <a id="logo-container" href="#/" class="brand-logo"><img src="assets/logo goodil/icon.png" alt="Logo goodil" class="responsive-img"/></a>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold">
          <a class="collapsible-header waves-effect waves-teal white-text">
            <i class="icon-left ion-ios-pricetags-outline"></i>Offres</a>
          <div class="collapsible-body blue-grey darken-2">
            <ul>
              <li ng-class="{active: activetab =='/addDeal'}">
                <a href="#/addDeal" class="white-text waves-effect waves-purple">Ajouter</a>
              </li>
              <li ng-class="{active: activetab =='/listDeals'}">
                <a href="#/listDeals" class="white-text waves-effect waves-purple">Lister et modifier</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold">
          <a class="collapsible-header waves-effect waves-teal white-text">
            <i class="material-icons left">list</i>Données</a>
          <div class="collapsible-body blue-grey darken-2">
            <ul>
              <li ng-class="{active: activetab =='/brands'}">
                <a href="#/brands" class="white-text waves-effect waves-purple">Enseignes</a>
              </li>
              <li ng-class="{active: activetab =='/shops'}">
                <a href="#/shops" class="white-text waves-effect waves-purple">Magasins</a>
              </li>
              <li ng-class="{active: activetab =='/categories'}">
                <a href="#/categories" class="white-text waves-effect waves-purple">Catégories</a>
              </li>
              <li ng-class="{active: activetab =='/bv'}">
                <a href="#/bv" class="white-text waves-effect waves-purple">Bassin de vie</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold">
          <a class="collapsible-header waves-effect waves-teal white-text">
            <i class="material-icons left">supervisor_account</i>Administrateurs</a>
          <div class="collapsible-body blue-grey darken-2">
            <ul>
              <li ng-class="{active: activetab =='/users'}">
                <a href="#/users" class="white-text waves-effect waves-purple">Liste des comptes</a>
              </li>
              <li ng-class="{active: activetab =='/shops'}">
                <a href="#/shops" class="white-text waves-effect waves-purple">Ajouter un utilisateur</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</header>
