<h1>{{title}}</h1>
<form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" id="inputMessage" placeholder="sub categories name" ng-model="name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="inputMessage" placeholder="sub categories logo" ng-model="logo">
    </div>
    <select id="Category" data-ng-model="selectedCategory" ng-options="category.name for category in categories" material-select watch>
      <option value="" selected>Sélectionnez une categorie</option>
    </select>
    <button type="submit" class="btn btn-default" ng-click="add()">Add</button>
</form>
<hr>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="subCategory in subCategories">
        {{subCategory.category._id}}
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="inputMessage" ng-model="subCategory.name">
                <input type="text" class="form-control" id="inputMessage" ng-model="subCategory.logo">
                <img src="{{subCategory.logo}}" style="max-width: 200px;">
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-default" ng-click="update(subCategory)">Update</button>
                <button type="submit" class="btn btn-danger" ng-click="delete(subCategory)">Delete</button>
            </div>
        </form>
    </li>
</ul>
